<div>
    <app-heading [location]="location" title="Company Info" iconClass="fas fa-building"></app-heading>
    <app-message (okClickEvent)="messageClick()" [inputErrorMessage]="errorMsg"></app-message>
    
    <form [formGroup]="companyResearchForm" (ngSubmit)="submitForm()" novalidate>
        <div class="row mt-4">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 ">
                <input id="sym" type="text" placeholder="Ticker" [ngClass]="{ 'is-invalid': companyResearchForm.invalid && (companyResearchForm!.dirty || companyResearchForm!.touched) }" class="form-control" formControlName="companySymbolControl">
                <div *ngIf="companyResearchForm!.invalid && (companyResearchForm!.dirty || companyResearchForm!.touched)" class="invalid-feedback" >
                    <div *ngIf="companySymbolControl!.errors!.required">Symbol is required.</div>
                    <div *ngIf="companySymbolControl!.errors!.maxlength">Symbol must be less than 8 characters long.</div>
                </div>
            </div>
            <div class="col">
                <button type="submit" onmousedown="event.preventDefault()" [disabled]="!companyResearchForm.valid" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <div *ngIf="currentlyLoading" class="mt-2 spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    
    <div *ngIf="companyResearch.advStats">
        <div class="d-flex justify-content-center">
            <div class="">
                <img *ngIf="imgUrl" [src]="companyResearch.logo.url">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Change Percentages</h4>
                    </div>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Change Percentages</h5> -->
                        <p class="card-text">1 Year % Change: {{financiafy(companyResearch.advStats.year1ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">2 Year % Change: {{financiafy(companyResearch.advStats.year2ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">5 Year % Change: {{financiafy(companyResearch.advStats.year5ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">YTD % Change: {{financiafy(companyResearch.advStats.ytdChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">1 Month % Change: {{financiafy(companyResearch.advStats.month1ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">3 Month % Change: {{financiafy(companyResearch.advStats.month3ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">6 Month % Change: {{financiafy(companyResearch.advStats.month6ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">5 Day % Change: {{financiafy(companyResearch.advStats.day5ChangePercent * 100, '%', true)}}</p>
                        <p class="card-text">30 Day % Change: {{financiafy(companyResearch.advStats.day30ChangePercent * 100, '%', true)}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Dividend Info</h4>
                            </div>
                            <div *ngIf="!companyResearch.advStats.dividendYield" class="card-body">
                                <p class="card-text">Company does not currently pay a dividend.</p>
                            </div>
                            <div *ngIf="companyResearch.advStats.dividendYield" class="card-body">
                                <p class="card-text">Dividend Yield: {{companyResearch.advStats.dividendYield * 100 | fiFormat : '' : '%' : false : true}}</p>
                                <p class="card-text">Next Divdend Date: {{ConvertDate(companyResearch.advStats.nextDividendDate)}}</p>
                                <p class="card-text">Ex Dividend Date: {{ConvertDate(companyResearch.advStats.exDividendDate)}}</p>
                                <p class="card-text">TTM Divdend Rate: {{financiafy(companyResearch.advStats.ttmDividendRate, '$')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>52 Week Ranges</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">52 Week Change: {{companyResearch.advStats.week52change * 100 | fiFormat : '' : '%' : true}}</p>
                                <p class="card-text">52 Week High: {{financiafy(companyResearch.advStats.week52high)}}</p>
                                <p class="card-text">52 Week Low: {{financiafy(companyResearch.advStats.week52low)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Company Info</h4>
                            </div>
                            <div class="card-body">
                                <!-- <h5 class="card-title">Change Percentages</h5> -->
                                <p class="card-text">Name: {{companyResearch.company.companyName}}</p>
                                <p class="card-text">Employee count: {{companyResearch.company.employees | fiFormat : '' : '' : false : false}}</p>
                                <p class="card-text">Industry: {{companyResearch.company.industry}}</p>
                                <p class="card-text">Sector: {{companyResearch.company.sector}}</p>
                                <p class="card-text">Description: {{companyResearch.company.description}}</p>
                                <p class="card-text">CEO: {{companyResearch.company.CEO}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Valuation</h4>
                            </div>
                            <div class="card-body">
                                <!-- <h5 class="card-title">Change Percentages</h5> -->
                                <p class="card-text">TTM EPS: {{financiafy(companyResearch.advStats.ttmEPS, '$')}}</p>
                                <p class="card-text">P/E Ratio: {{financiafy(companyResearch.advStats.peRatio)}}</p>
                                <p class="card-text">PEG Ratio: {{financiafy(companyResearch.advStats.pegRatio)}}</p>
                                <p class="card-text">Forward P/E: {{financiafy(companyResearch.advStats.forwardPERatio)}}</p>
                                <p class="card-text">Price/Book: {{financiafy(companyResearch.advStats.priceToBook)}}</p>
                                <p class="card-text">Price/Sales: {{financiafy(companyResearch.advStats.priceToSales)}}</p>
                                <p class="card-text">Enterprise Value: {{financiafy(companyResearch.advStats.enterpriseValue, '$')}}</p>
                                <!-- <p class="card-text">Revenue/Employee: {{financiafy(companyResearch.advStats.revenuePerEmployee)}}</p> -->
                                <!-- <p class="card-text">Revenue/Share: {{financiafy(companyResearch.advStats.revenuePerShare)}}</p> -->
                                <!-- <p class="card-text">Enterprise/Revenue: {{financiafy(companyResearch.advStats.enterpriseValueToRevenue)}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Market Info</h4>
                            </div>
                            <div class="card-body">
                                <!-- <h5 class="card-title">Change Percentages</h5> -->
                                <p class="card-text">Put/Call Ratio: {{financiafy(companyResearch.advStats.putCallRatio)}}</p>
                                <p class="card-text">Market Cap: {{financiafy(companyResearch.advStats.marketcap, '$')}}</p>
                                <p class="card-text">Beta: {{financiafy(companyResearch.advStats.beta)}}</p>
                                <p class="card-text">Shares Outstanding: {{financiafy(companyResearch.advStats.sharesOutstanding)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Financials</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Debt: {{financiafy(companyResearch.advStats.currentDebt, '$')}}</p>
                                <p class="card-text">Debt/Equity: {{financiafy(companyResearch.advStats.debtToEquity)}}</p>
                                <p class="card-text">EBITDA: {{financiafy(companyResearch.advStats.ebitda, '$')}}</p>
                                <p class="card-text">Gross Profit: {{financiafy(companyResearch.advStats.grossProfit, '$')}}</p>
                                <p class="card-text">Revenue: {{financiafy(companyResearch.advStats.totalRevenue, '$')}}</p>
                                <p class="card-text">Total Cash: {{financiafy(companyResearch.advStats.totalCash, '$')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Institutional Ownership</h4>
                            </div>
                            <div class="card-body">
                                <div class="mt-1" *ngFor="let instOwnership of companyResearch.instOwnership">
                                    <div class="card-text">Institution: {{instOwnership.entityProperName}}</div>
                                    <div class="card-text">Holding Size: {{financiafy(instOwnership.reportedHolding, '', false)}}</div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
