
<footer class="bg-secondary footer border-top border-primary">
    <div class="text-white d-flex flex-row">

        <div class="text-center d-flex flex-column flex-fill justify-content-center">
            <p class="mt-2">
                About This App
            </p>
            <a class="">content 1</a>
        </div>
        <div  class="text-center d-flex flex-column flex-fill justify-content-center">
            <p class="mt-2">
                Connect on LinkedIn
            </p>
            <a href="https://www.linkedin.com/in/glen4096/" class="text-center">
                <i class="fab fa-linkedin fa-3x"></i>
            </a>
        </div>
        <div class="text-center d-flex flex-column flex-fill justify-content-center">
            <p class="mt-2">
                License Info
            </p>
            <a class="">content 3</a>
        </div>

    </div>
</footer>