
<footer class="mt-auto bg-light bg-gradient footer border-3 border-top border-primary justify-content-between text-white d-flex">
    <!-- .fixed-bottom:  class for sticky footer -->
    <div class="flex-fill d-flex justify-content-center align-self-center text-center ">
        <a class="text-muted">About this App</a>
    </div>

    <div  class="flex-fill d-flex text-center flex-column justify-content-center align-self-center">
        <div class="text-muted">Connect on LinkedIn</div>
        <a href="https://www.linkedin.com/in/glen4096/" class="text-center">
            <i class="fa-brands fa-linkedin fa-3x"></i>
        </a>
    </div>

    <div class="flex-fill d-flex justify-content-center align-self-center text-center ">
        <a class="text-muted">Disclaimer</a>
    </div> 
</footer>

<!-- <footer class="mt-5 bg-secondary footer border-3 border-top border-primary">
    <div class="pt-2 text-white d-flex">
        <div class="text-center d-flex flex-column flex-fill justify-content-center">
            <p>About This App</p>
        </div>
        <div  class="text-center d-flex flex-column flex-fill justify-content-center">
            <p>Connect on LinkedIn</p>
            <a href="https://www.linkedin.com/in/glen4096/" class="text-center">
                <i class="fab fa-linkedin fa-3x"></i>
            </a>
        </div>
        <div class="text-center d-flex flex-column flex-fill justify-content-center">
            <p>License Info</p>
        </div>
    </div>
</footer> -->