<div>
    <app-heading [location]="location" title="Stock Chart" iconClass="fas fa-chart-area"></app-heading>
    <app-message (okClickEvent)="messageClick()" [inputErrorMessage]="errorMsg"></app-message>
    
    <form class="mt-4" [formGroup]="researchForm" (ngSubmit)="onGetData()">
        <div class="row">
            <div class="col-8 col-sm-6 col-md-3 col-lg-2 col-xl-1 mb-2">
                <div>
                    <input id="sym" type="text" class="form-control" placeholder="Ticker" formControlName="researchSymbolControl"
                        [ngClass]="{ 'is-invalid': researchSymbolControl?.invalid && (researchSymbolControl?.dirty || researchSymbolControl?.touched) }" formControlName="researchSymbolControl">
                    <div *ngIf="researchForm?.invalid && (researchForm?.dirty || researchForm?.touched)" class="invalid-feedback">
                        <div *ngIf="researchSymbolControl?.errors?.required">Symbol is required.</div>
                        <div *ngIf="researchSymbolControl?.errors?.maxlength">Symbol must be less than 8 characters.</div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-sm-4 col-md-2 col-lg-1 col-xl-1">   
                <button class="btn btn-primary" type="submit" [disabled]="!researchForm.valid">Submit</button>
            </div>
        </div>
    </form>

    <!--symbol validation messages-->
    <!-- <div *ngIf="researchSymbolControl!.invalid && (researchSymbolControl!.dirty || researchSymbolControl!.touched)" class="alert alert-danger">
        <div *ngIf="researchSymbolControl!.errors!.required">
            Symbol is required.
        </div>
        <div *ngIf="researchSymbolControl!.errors!.minlength || researchSymbolControl!.errors!.maxlength">
            Symbol must be between 1 and 8 characters long.
        </div>
    </div> -->

    <!-- <form class="form-inline" [formGroup]="researchForm" (ngSubmit)="onGetData()">
        <div class="col-sm-12 col-xs-12 col-lg-2 col-md-4">
            <div class="row align-items-center">
                <div class="form-inline align-items-center">
                    <label for="sym">Symbol: </label>
                    <input class="form-control" placeholder="Ticker" id="sym" type="text" aria-describedby="adb" formControlName="researchSymbolControl">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!researchForm.valid">Get Data</button>
            </div>
        </div>
    </form> -->


    <div [hidden]="!visible" class="chart-container pe-2" #chartContainer></div>
    
    <!-- <div>
        <table class="table">
            <tr>
                <th> Total Equity </th> 
                <th> Date </th>
                <th> Volume </th>
                <th> Open </th>
                <th> Close </th>
                <th> High </th>
                <th> Low </th>
            </tr> 
        
            <tr *ngFor="let row of historicalStockData">
                <td>{{port.totalMarketValue}}</td> 
                <td>{{ConvertDate(row.time)}}</td>
                <td>{{row.volume.toLocaleString()}}</td>
                <td>{{row.open}}</td>
                <td>{{row.close}}</td>
                <td>{{row.high}}</td>
                <td>{{row.low}}</td>
            </tr>
            </table>
    </div>
    -->
</div>