<div class="container-fluid">
    <div class="row flex-row align-items-center my-2">
        <button class="mr-2 btn btn-sm btn-outline-primary" (click)="goBack()">Back</button>
        <button class="mr-2 btn btn-sm btn-outline-primary" (click)="refresh()">Refresh</button>
        <h2>Research A Stock</h2>
    </div>
    <div class="row">
        <app-message (okClickEvent)="messageClick()" [inputErrorMessage]="errorMsg"></app-message>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <p class="lead">Chart an Equity</p>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-xs-12 col-sm-12 col-lg-4 col-md-6">
            <form class="form-inline" [formGroup]="researchForm" (ngSubmit)="onGetData()">
                <input id="sym" type="text" aria-describedby="adb" class="form-control" placeholder="Ticker" formControlName="researchSymbolControl" [ngClass]="{ 'is-invalid': researchSymbolControl!.invalid && (researchSymbolControl!.dirty || researchSymbolControl!.touched) }" formControlName="researchSymbolControl">
                <button class="ml-2 btn btn-primary" type="submit" [disabled]="!researchForm.valid">Submit</button>
                <div *ngIf="researchForm!.invalid && (researchForm!.dirty || researchForm!.touched)" class="invalid-feedback" >
                    <div *ngIf="researchSymbolControl!.errors!.required">Symbol is required.</div>
                    <div *ngIf="researchSymbolControl?.errors?.maxlength">Symbol must be less than 8 characters.</div>
                </div>
            </form>
        </div>
    </div>

            <!--symbol validation messages-->
            <!-- <div *ngIf="researchSymbolControl!.invalid && (researchSymbolControl!.dirty || researchSymbolControl!.touched)" class="alert alert-danger">
                <div *ngIf="researchSymbolControl!.errors!.required">
                    Symbol is required.
                </div>
                <div *ngIf="researchSymbolControl!.errors!.minlength || researchSymbolControl!.errors!.maxlength">
                    Symbol must be between 1 and 8 characters long.
                </div>
            </div> -->

            <!-- <form class="form-inline" [formGroup]="researchForm" (ngSubmit)="onGetData()">
                <div class="col-sm-12 col-xs-12 col-lg-2 col-md-4">
                    <div class="row align-items-center">
                        <div class="form-inline align-items-center">
                            <label for="sym">Symbol: </label>
                            <input class="form-control" placeholder="Ticker" id="sym" type="text" aria-describedby="adb" formControlName="researchSymbolControl">
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!researchForm.valid">Get Data</button>
                    </div>
                </div>
            </form> -->


    <div [hidden]="!visible" class="chart-container" #chartContainer></div>
    
    <!-- <div>
        <table class="table">
            <tr>
                 <th> Total Equity </th> 
                <th> Date </th>
                <th> Volume </th>
                <th> Open </th>
                <th> Close </th>
                <th> High </th>
                <th> Low </th>
            </tr> 
        
            <tr *ngFor="let row of historicalStockData">
                 <td>{{port.totalMarketValue}}</td> 
                <td>{{ConvertDate(row.time)}}</td>
                <td>{{row.volume.toLocaleString()}}</td>
                <td>{{row.open}}</td>
                <td>{{row.close}}</td>
                <td>{{row.high}}</td>
                <td>{{row.low}}</td>
            </tr>
            </table>
    </div>
    -->
</div>