<div class="container-fluid">
    <div class="row">
        <h2>Options</h2>
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
    <div class="">
        <app-message (okClickEvent)="messageClick()" *ngIf="errorMsg" [inputErrorMessage]="errorMsg"></app-message>
    </div>
    <form class="form-group" [formGroup]="optionsForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-6 col-sm-12 xs-12 col-lg-6">
                <h4>Find An Option</h4>
                <span>
                    <label> Symbol: </label><input type="text" formControlName="optionSymbolControl">
                </span>
                <span>
                    <button class="btn btn-primary" type="button" [disabled]="optionSymbolControl?.invalid" (click)="getExpirys()">Get Expirys</button>
                </span>

                <span>
                    <label>Type: </label>
                    <select #exp formControlName="optionExpiryControl" (change)='onExpiryChange(exp.value)'>
                        <option value="">{{chooseMsg}}</option>
                        <option *ngFor="let date of expiryDates" [value]="date"><!-- [ngValue]="date"--> {{date}}</option>
                    </select>
                </span>
                <div class="row">
                    <!-- <span>
                        <button class="btn btn-primary" type="submit" [disabled]="!optionsForm.valid">Get Chain</button>
                    </span> -->
                    <div *ngIf="optionSymbolControl?.invalid && (optionSymbolControl?.dirty || optionSymbolControl?.touched)" class="alert alert-danger">
                        <div *ngIf="optionSymbolControl?.errors?.required">
                            Please enter a Stock Symbol to find Options for.
                        </div>
                        <div *ngIf="optionSymbolControl?.errors?.maxlength || optionSymbolControl?.errors?.minlength">
                            Symbol must be between 1 and 8 characters long.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6 col-sm-12 xs-12 col-lg-6">
                <button class="btn btn-primary" type="submit" [disabled]="!optionsForm.valid">Get Options</button>
            </div>
        </div> -->
    </form>

    <div class="row">
        <div class="col-md-6 col-sm-12 xs-12 col-lg-6">
            <form class="form-group" [formGroup]="orderForm" (ngSubmit)="submitOrder()">
                <h4>Submit An Order</h4>
                <span>
                    <label> Name: </label><input type="text" formControlName="orderNameControl">
                </span>
                <span>
                    <label> Strike: </label><input type="text" formControlName="orderStrikeControl">
                </span>
                <span>
                    <label> Expriation: </label><input type="text" formControlName="orderExpControl">
                </span>
                <span>
                    <label> Quantity: </label><input type="number" formControlName="orderQuantityControl">
                </span>
                <span>
                    <button [disabled]="!orderForm.valid" type="submit">Order</button>
                </span>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <h4>Calls</h4>
                        <tr>
                            <th> ID </th>
                            <th> Side </th>
                            <th> Strike Price </th>
                            <th> Ask </th>
                            <th> Bid </th>
                            <th> Closing Price </th>
                            <!-- <th> Contract Size</th> -->
                            <th> Expiration Date </th>
                            <th> Is Adjusted? </th>
                            <th> Last Updated </th>
                            <th> Open Interest </th>
                            <!-- <th> Symbol </th> -->
                            <th> Volume </th>
                            <!-- <th> Type </th> -->
                        </tr>
                    </thead>
                    <tr *ngFor="let option of callChain">
                        <td>{{option.id}}</td>
                        <td>{{option.side}}</td>
                        <td>{{option.strikePrice}}</td>
                        <td>{{option.ask}}</td>
                        <td>{{option.bid}}</td>
                        <td>{{option.closingPrice}}</td>
                        <!-- <td>{{option.contractSize}}</td> -->
                        <td>{{option.expirationDate}}</td>
                        <td>{{option.isAdjusted}}</td>
                        <td>{{option.lastUpdated}}</td>
                        <td>{{option.openInterest}}</td>
                        <!-- <td>{{option.symbol}}</td> -->
                        <td>{{option.volume}}</td>
                        <!-- <td>{{option.type}}</td> -->
                        <td><button (click)="choose($event, option.id!)" class="btn btn-primary">Buy</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <h4>Puts</h4>
                        <tr>
                            <th> ID </th>
                            <th> Side </th>
                            <th> Strike Price </th>
                            <th> Ask </th>
                            <th> Bid </th>
                            <th> Closing Price </th>
                            <!-- <th> Contract Size</th> -->
                            <th> Expiration Date </th>
                            <th> Is Adjusted? </th>
                            <th> Last Updated </th>
                            <th> Open Interest </th>
                            <!-- <th> Symbol </th> -->
                            <th> Volume </th>
                            <!-- <th> Type </th> -->
                        </tr>
                    </thead>
                    <tr *ngFor="let option of putChain">
                        <td>{{option.id}}</td>
                        <td>{{option.side}}</td>
                        <td>{{option.strikePrice}}</td>
                        <td>{{option.ask}}</td>
                        <td>{{option.bid}}</td>
                        <td>{{option.closingPrice}}</td>
                        <!-- <td>{{option.contractSize}}</td> -->
                        <td>{{option.expirationDate}}</td>
                        <td>{{option.isAdjusted}}</td>
                        <td>{{option.lastUpdated}}</td>
                        <td>{{option.openInterest}}</td>
                        <!-- <td>{{option.symbol}}</td> -->
                        <td>{{option.volume}}</td>
                        <!-- <td>{{option.type}}</td> -->
                        <td><button (click)="choose($event, option.id!)" class="btn btn-primary">Buy</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
