
/* Top Right Bottom Left */

.ticker-wrap{
    /* position: fixed; */
    /* height: 3rem; */
    background-color: black;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: content-box;
    margin-top: .5rem;
}

.ticker {
  overflow: hidden;
  display: inline-block;

  white-space: nowrap;
  box-sizing: content-box;

   /* To keep empty ticker scroller the same size when values are cleared */
  min-height: 2.5rem;

    /* height: 4rem; */
  /* line-height: 4rem; */

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  
  -webkit-animation-name: ticker;
  animation-name: ticker;
  
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.ticker__item {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  padding: 0rem 2rem 0rem 2rem;
}

/* Safari and Chrome  */
@-webkit-keyframes ticker {
  from{
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    visibility: visible;

  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* Edge */
@keyframes ticker {
  from {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.ticker:hover {
  animation-play-state: paused;
} 