<div class="container-fluid">
    <app-heading [location]="location" title="Today's Market Performance" iconClass=""></app-heading>
    <app-message (okClickEvent)="messageClick()" [inputErrorMessage]="errorMsg"></app-message>

    <h4 class="mt-4">Random Stats</h4>
    <div class="row">
        <span class="border border-2 rounded">
            <ul class="list-group">
                <li class="list-group-item"><i class="fab fa-bitcoin"></i><strong>Bitcoin: {{"$" + marketData.crypto?.price?.toLocaleString()}}</strong></li>
                <li class="list-group-item"><strong>Recession Factor: {{marketData.recessionProbability}}</strong></li>
                <li class="list-group-item"><strong>Federal Funds Rate: {{marketData.federalFundsRate + "%"}}</strong></li>
                <li class="list-group-item"><strong>Weekly Institutional Funds: {{ (marketData.instFunds | fiFormat : '$' : ' bil' : false)}}</strong></li>
            </ul>
        </span>
    </div>

    <!-- <div class="row">
        <span class="border border-primary rounded-sm"> -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <h5>Weekly Institutional Funds: {{"$" + marketData.instFunds + " Billion"}}</h5>
            </div> -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <h5>Federal Funds Rate: {{marketData.federalFundsRate + "%"}}</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <h5>Recession Factor: {{marketData.recessionProbability}}</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <h5>Bitcoin: {{"$" + marketData.crypto?.price?.toLocaleString()}}</h5>
            </div>
        </span>
    </div> -->

    <h4 class="mt-2">Index Performance</h4>
    <div class="row">
        <span class="border border-2 rounded">
            <ul class="list-group">
                <li [ngClass]="[marketData.dow.change > 0 ? 'text-success' : 'text-danger', 'list-group-item']" *ngIf="marketData.dow">
                    <h6>Dow: {{(marketData.dow.changePercent * 100) | fiFormat : '' : '%' : true : true}}</h6>
                </li>
                <li [ngClass]="[marketData.nasdaq.change > 0 ? 'text-success' : 'text-danger', 'list-group-item']" *ngIf="marketData.nasdaq">
                    <h6>Nasdaq: {{(marketData.nasdaq.changePercent * 100) | fiFormat : '' : '%' : true : true}}</h6>
                </li>
                <li [ngClass]="{'list-group-item' : true, 'text-success' : marketData.sp500.change > 0, 'text-danger' : marketData.sp500.change < 0}" *ngIf="marketData.sp500">
                    <h6>S&P 500: {{(marketData.sp500.changePercent * 100) | fiFormat : '' : '%' : true : true}}</h6>
                </li>
                <li [ngClass]="{'list-group-item' : true, 'text-success' : marketData.russell.change > 0, 'text-danger': marketData.russell.change < 0}" *ngIf="marketData.russell">
                    <h6>Russell 2000: {{(marketData.russell.changePercent * 100) | fiFormat : '' : '%' : true : true}}</h6>
                </li>
            </ul>
        </span>
    </div>

    <h4 class="mt-2">Sector Performance</h4>
    <div [ngClass]="'row'">
        <div class="col-12 col-sm-6 col-lg-2 col-md-4" *ngFor="let sector of marketData.sectorPerformances">
            <!-- <span class="px-3 col border bg-light" [ngClass]="+sector.performance >= 0.0 ? 'text-success' : 'text-danger'">({{(sector.performance * 100) | fiFormat : '' : '%' : true}})</span> -->
            <div class="card text-white mb-2">
                <h5 [ngClass]="+sector.performance > 0.0 ? 'bg-success' : 'bg-danger'" class="card-header text-white">
                    {{sector.name}}
                </h5>
                <div class="card-body text-center">
                    <h5 class="card-title test-dark" [ngClass]="sector.performance < 0 ? 'text-danger' : 'text-success'">{{(sector.performance * 100) | fiFormat : '' : '%' : true : true}}</h5>
                    <!-- sector.performance < 0 ? 'text-danger' : 'text-success'" class="card-title text-dark"> -->
                    <!-- <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="row">
        <h4>Earnings Announcements</h4>
        <div *ngFor="let _ of _ "class="col-lg-3 col-md-4 col-sm-6">
                {{_}} 
                <span [ngClass]="+sector.performance >= 0.0 ? 'text-success' : 'text-danger'">({{_}})</span>
        </div>
    </div> -->
