<div class="container-fluid">
  <h2>Your Portfolios</h2>
  <app-error *ngIf="errorMsg" [inputMessage]="errorMsg"></app-error>
  <!-- <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div> -->
  <table class="table">
    <tr>
      <!-- <th> Total Equity </th> -->
      <th> Title </th>
      <th> Type </th>
      <th> Created Date </th>
      <th> # Holdings </th>
      <th> Details </th>
      <th> Delete </th>
    </tr>
    <tr *ngFor="let port of portfolios">
      <!-- <td>{{port.totalMarketValue}}</td> -->
      <td>{{port.title}}</td>
      <td>{{port.type}}</td>
      <td>{{ConvertDate(port.creationDate)}}</td>
      <td>{{port.holdings?.length ? port.holdings?.length : 0}}</td>
      <td><a [routerLink]="['/portfolio', port.portfolioId]"><button class="btn btn-primary">Portfolio Details</button></a></td>
      <td><button class="btn btn-primary" (click)="deletePortfolio($event, port.portfolioId)">Remove</button></td>
    </tr>
  </table>
  <br>

  <div>
    <form class="form-group" [formGroup]="portfolioForm" (ngSubmit)="onSubmitPortfolio()">
        <h3>Create A New Portfolio</h3>

        <span>
        <label>Name: <input type="text" formControlName="portfolioTitleControl"></label>
        </span>

        <span>
          <label>Type: <input type="text" formControlName="portfolioTypeControl"></label>
        </span>

        <span>
        <button class="btn btn-primary" type="submit" [disabled]="!portfolioForm.valid">Create</button>
        </span>

        <!--title validation messages-->
        <div *ngIf="portfolioTitleControl!.invalid && (portfolioTitleControl!.dirty || portfolioTitleControl!.touched)" class="alert alert-danger">
          <div *ngIf="portfolioTitleControl!.errors!.required">
              Title is required.
          </div>
          <div *ngIf="portfolioTitleControl!.errors!.minlength || portfolioTitleControl!.errors!.maxlength">
              Symbol must be between 1 and 20 characters long.
          </div>
        </div>

        <!--type validation messages-->
        <div *ngIf="portfolioTypeControl!.invalid && (portfolioTypeControl!.dirty || portfolioTypeControl!.touched)" class="alert alert-danger">
          <div *ngIf="portfolioTypeControl!.errors!.min || portfolioTypeControl!.errors!.required">
              You can't buy zero shares.
          </div>
        </div>

    </form>
  </div>
</div>