<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h2>{{'Portfolio: ' + portfolio.title}}</h2>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h4 [ngClass]="portfolio.gainLoss < 0 ? 'text-danger' : 'text-success' ">
                Gain/Loss: {{financiafy(portfolio.gainLoss, '$', true)}}
            </h4>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h4 [ngClass]="portfolio.gainLoss < 0 ? 'text-danger' : 'text-success' ">
                Gain/Loss: {{financiafy((portfolio.gainLoss/portfolio.totalMarketValue)*100, '%', true)}}
            </h4>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h4>
                Market Value: {{financiafy(portfolio.totalMarketValue, '$', false)}}
            </h4>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h4>
                Original Value: {{financiafy((portfolio.totalMarketValue - portfolio.gainLoss),'$', false)}}
            </h4>
        </div>
    </div>
    <app-message (okClickEvent)="messageClick()" *ngIf="refreshMsg || errorMsg" [inputNoticeMessage]="refreshMsg" [inputErrorMessage]="errorMsg"></app-message>
    <a routerLink="/portfolios">Back to List</a>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> Symbol </th>
                    <th> Contract </th>
                    <th> Cost Basis </th>
                    <th> Current Price </th>
                    <th> Quantity </th>
                    <th> % of Portfolio </th>
                    <th> Security Type </th>
                    <th> Reinvest Divs? </th>
                    <th> Transaction Time </th>
                    <th> Original Value </th>
                    <th> Current Value </th>
                    <th> Percentage Change </th>
                    <th> Gain/Loss </th>
                    <th> Sell All </th>
                </tr>
            </thead>
            <tr *ngFor="let holding of portfolio.holdings">
                <td>{{holding.symbol}}</td>
                <td *ngIf="!holding.contractName"></td>
                <td *ngIf="holding.contractName">{{holding.contractName}}</td>
                <td>{{'$'+holding.costBasis}}</td>
                <td>{{'$'+holding.currentPrice}}</td>
                <td>{{holding.quantity}}</td>
                <td>{{(((holding.quantity * holding.currentPrice)/portfolio.totalMarketValue) * 100).toFixed(2)}}</td>
                <td>{{holding.securityType}}</td>
                <td>{{holding.reinvestDivs ? 'Yes' : 'No'}}</td>
                <td>{{ConvertDate(holding.transactionDate)}}</td>
                <td>{{financiafy((holding.costBasis * holding.quantity), '$')}}</td>
                <td>{{financiafy((holding.currentPrice * holding.quantity), '$')}}</td>
                <td [ngClass]="((holding.currentPrice - holding.costBasis)/holding.costBasis) < 0 ? 'text-danger' : 'text-success'">
                    {{financiafy(((holding.currentPrice - holding.costBasis)/holding.costBasis)*100,'%', true)}}   
                </td>
                <td [ngClass]="((holding.currentPrice * holding.quantity) - (holding.costBasis * holding.quantity) < 0) ? 'text-danger' : 'text-success'">
                    {{financiafy((holding.currentPrice * holding.quantity) - (holding.costBasis * holding.quantity), '$', true)}}
                </td>
                <td><button (click)="onDeleteHolding($event, holding.holdingId!)" class="btn btn-primary">Sell All</button></td>
            </tr>
        </table>
    </div>  
    
    <br>

    <div>
        <form class="form-group" [formGroup]="holdingForm" (ngSubmit)="onSubmitHolding()">
            <h3>Buy a Stock</h3>
            <div class="row">
                <span>
                <label>Symbol: </label><input type="text" formControlName="holdingSymbolControl">
                </span>
                <span>
                <label>Quantity: </label><input type="number" formControlName="holdingQuantityControl">
                </span>
                <span>
                <label>Reinvest Dividends? </label><input type="checkbox" formControlName="holdingDividendControl">
                </span>
                <div>
                <button class="btn btn-primary" type="submit" [disabled]="!holdingForm.valid">Submit Order</button>
                </div>
            </div>
            <!--symbol validation messages-->
            <div *ngIf="symbolControl!.invalid && (symbolControl!.dirty || symbolControl!.touched)" class="alert alert-danger">
                <div *ngIf="symbolControl!.errors!.required">
                    Symbol is required.
                </div>
                <div *ngIf="symbolControl!.errors!.minlength || symbolControl!.errors!.maxlength">
                    Symbol must be between 1 and 8 characters long.
                </div>
            </div>

            <!--quantity validation messages-->
            <div *ngIf="quantityControl!.invalid && (quantityControl!.dirty || quantityControl!.touched)" class="alert alert-danger">
                <div *ngIf="quantityControl!.errors!.min || quantityControl!.errors!.required">
                    You can't buy zero shares.
                </div>
            </div>
        </form>
      </div>
</div>