<div class="container-fluid">
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-8">
            <h2>{{'Portfolio: ' + portfolio.title}}</h2>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-8">
            <h4>Gain/Loss: {{financiafy(portfolio.gainLoss, '$', true)}}</h4>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-8">
            <h4>Market Value: {{financiafy(portfolio.totalMarketValue, '$', false)}}</h4>
        </div>
    </div>
    <a routerLink="/portfolios">Back to List</a>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    <table class="table">
        <tr>
            <th> Symbol </th>
            <th> Cost Basis </th>
            <th> Quantity </th>
            <th> Current Price </th>
            <th> Security Type </th>
            <th> Reinvesting Dividends? </th>
            <th> Transaction Time </th>
            <th> Original Value </th>
            <th> Current Value </th>
            <th> Percentage Change </th>
            <th> Gain/Loss </th>
            <th> Sell All </th>
        </tr>
        <tr *ngFor="let holding of portfolio.holdings">
            <td>{{holding.symbol}}</td>
            <td>{{'$'+holding.costBasis}}</td>
            <td>{{holding.quantity}}</td>
            <td>{{'$'+holding.currentPrice}}</td>
            <td>{{holding.securityType}}</td>
            <td>{{holding.reinvestDivs ? 'Yes' : 'No'}}</td>
            <td>{{ConvertDate(holding.transactionDate)}}</td>
            <td>{{'$'+(holding.costBasis * holding.quantity).toFixed(2)}}</td>
            <td>{{'$'+(holding.currentPrice * holding.quantity).toFixed(2)}}</td>
            <td>{{financiafy(100*((holding.currentPrice - holding.costBasis)/holding.costBasis),'%', true)}}</td>
            <td>{{financiafy((holding.currentPrice * holding.quantity) - (holding.costBasis * holding.quantity), '$', true)}}</td>
            <td><button (click)="onDeleteHolding($event, holding.holdingId!)" class="btn btn-primary">Sell All</button></td>
        </tr>
    </table>
    
    <br>

    <div>
        <form class="form-group" [formGroup]="holdingForm" (ngSubmit)="onSubmitHolding()">
            <h3>Buy a Stock</h3>
            <div class="row">
                <span>
                <label>Symbol: <input type="text" formControlName="holdingSymbolControl"></label>
                </span>
                <span>
                <label>Quantity: <input type="text" formControlName="holdingQuantityControl"></label>
                </span>
                <span>
                <label>Reinvest Dividends? <input type="checkbox" formControlName="holdingDividendControl"></label>
                </span>
                <div>
                <button class="btn btn-primary" type="submit" [disabled]="!holdingForm.valid">Submit Order</button>
                </div>
            </div>
            <!--symbol validation messages-->
            <div *ngIf="symbolControl!.invalid && (symbolControl!.dirty || symbolControl!.touched)" class="alert alert-danger">
                <div *ngIf="symbolControl!.errors!.required">
                    Symbol is required.
                </div>
                <div *ngIf="symbolControl!.errors!.minlength || symbolControl!.errors!.maxlength">
                    Symbol must be between 1 and 8 characters long.
                </div>
            </div>

            <!--quantity validation messages-->
            <div *ngIf="quantityControl!.invalid && (quantityControl!.dirty || quantityControl!.touched)" class="alert alert-danger">
                <div *ngIf="quantityControl!.errors!.min || quantityControl!.errors!.required">
                    You can't buy zero shares.
                </div>
            </div>
        </form>
      </div>
</div>