<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- class="fixed-top" -->
    <div class="container-fluid">
        
        <!-- Brand -->
        <a class="navbar-brand" [routerLink]="['/']">
            <h4><i class="fas fa-rocket pl-1"></i>&nbsp;{{title}}</h4>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <!-- Nav Items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngFor="let navItem of NavItems" class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLinkActive="active" [routerLink]="navItem.link">{{navItem.label}}</a>
                </li>
            </ul>

            <!-- Login Button -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <app-auth-button></app-auth-button>
                </li>
            </ul>

        </div>
    </div>
</nav> 
<!-- <div [ngClass]="'row row-cols-'+this.NavItems.length" class="bg-primary"> -->
    <!-- <div *ngFor="let navItem of NavItems"> class="col-md-1 col-lg-1 col-sm-1" -->
        <!-- class="btn btn-primary" -->
        <!-- <div> -->
            <!-- <a routerLinkactive="active" [routerLink]="navItem.link" [ngClass]="'text-white px-5 col h5'">{{navItem.label}}</a> -->
        <!-- </div> -->
        <!-- <h5><a [ngClass]="'text-white px-5 col'" [routerLink]="navItem.link" routerLinkactive="active">{{navItem.label}}</a></h5> -->
    <!-- </div> -->
<!-- </div> -->