<header>
    <!-- <nav class="navbar"> -->
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']"><h1>{{title}}</h1></a>
            <div [ngClass]="'row row-cols-'+this.NavItems.length" class="bg-primary">
                <div *ngFor="let navItem of NavItems"> <!--class="col-md-1 col-lg-1 col-sm-1" -->
                    <!-- class="btn btn-primary" -->
                    <div>
                        <a routerLinkactive="active" [routerLink]="navItem.link" [ngClass]="'text-white px-5 col h5'">{{navItem.label}}</a>
                    </div>
                    <!-- <h5><a [ngClass]="'text-white px-5 col'" [routerLink]="navItem.link" routerLinkactive="active">{{navItem.label}}</a></h5> -->
                </div>
            </div>
        </div>
    <!-- </nav> -->
</header> 