<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a trading simulator for stocks & options. Each account starts of with $10k
            <i class="fas fa-money-bill-wave"></i>
        </p>
        <hr class="my-4">
        <p>blah blah blah</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">button</a>
        <!-- </div>
    <h2>Welcome!</h2>
    <br>
    <div class="row"> -->
        <!-- <div class="col-lg-2 col-md-2 col-sm-2"> -->
            <!-- <app-auth-button></app-auth-button> -->
        <!-- </div> -->
    </div>
</div>