<div>
  <app-heading [location]="location" title="Order History" iconClass="fas fa-book"></app-heading>
  <app-message (okClickEvent)="messageClick()" [inputErrorMessage]="errorMsg"></app-message>
  <!-- <div class="d-flex flex-row justify-content-center"> -->
  <div class="d-flex justify-content-center">
    <!-- <div class="row mb-2">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6"> -->
        <div class="table-responsive flex-grow-1">
          <table class="table table-sm table-hover align-middle">
            <thead>
              <tr>
                <!-- <th> Total Equity </th> -->
                <th>Symbol</th>
                <th>Qty.</th>
                <th>Order Type</th>
                <th>Date/Time</th>
                <th>Asset Type</th>
                <th>Price</th>
                <th>Total Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <!-- <td>{{port.totalMarketValue}}</td> -->
                <td>{{order.symbol}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.orderType}}</td>
                <td>{{dateConverter.ConvertDateTime(order.transactionDate)}}</td>
                <td>{{order.securityType}}</td>
                <td>{{order.price | fiFormat : '$' : '' : false : true}}</td>
                <td>{{(order.price * order.quantity) | fiFormat : '$' : '' : false : true}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- </div>
    </div> -->
  </div>  
</div>