/* You can add global styles to this file, and also import other style files */
 @import '~bootstrap/dist/css/bootstrap.min.css';
 
 body {
    /* background: rgb(163, 163, 163); */
    /* background: radial-gradient(circle, rgba(110,110,110,1) 5%, rgba(123,191,127,1) 40%, rgba(74,74,74,1) 70%); */
    /* background: radial-gradient(circle, rgba(37,48,97,1) 8%, rgba(117,150,189,1) 69%);} */
    background: radial-gradient(circle, rgba(100,108,147,1) 0%, rgba(202,219,233,1) 82%);
    margin-bottom: 160px;
}

 html {
     min-height: 100vh;
     position: relative;
     padding-bottom: 160px;
 }

 footer {
     bottom: 0;
     position: absolute;
     width: 100%;
     height: 160px;
 }

 header {
     background-color: rgb(194,194,194);
 }
