<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
        <staticcontent>
            <remove fileextension=".woff">
                <mimemap fileextension=".woff2" mimetype="application/font-woff2"></mimemap>
                <mimemap fileextension=".woff" mimetype="application/x-font-woff"></mimemap>
            </remove></staticcontent>
<rewrite>
<rules>
<clear />
<rule name="AngularJS Routes" stopProcessing="true">
<match url=".*" />
<conditions logicalGrouping="MatchAll">
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
</conditions>
<action type="Rewrite" url="https://tothemoon2.azurewebsites.net/index.html" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>